body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
  }

.container-wrap {
    margin: 0;
   

    position: relative;
    display: flex;
   
}

.container {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    max-width: 1000px;
}

.square {
    background-color: white;
}

.newRound {
    padding: 10px 15px;
    margin-bottom: 20px;
}